<mat-card>
    <h1>Add Student</h1>
    <form #studentForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="example-container">
        <p>
        <mat-form-field>
            <input 
            type="number"
                min=0
                max=100
                matInput placeholder="Bagrut"
                [(ngModel)] = "bagrut"
                name = "bagrut"
                required>
        </mat-form-field> 
        </p>
        <p>
        <mat-form-field>
                <input 
                type="number"
                min=0
                max=800
                    matInput placeholder="Psycho"
                    [(ngModel)] = "psycho"
                    name = "psycho"
                    required>
        </mat-form-field>
      </p>  
      <mat-form-field appearance="fill">
  <mat-label>Select an option</mat-label>
  <mat-select [(value)]="paid"
  required>
    <mat-option value="true">Paid</mat-option>
    <mat-option value="false">Not paid</mat-option>
  </mat-select>
</mat-form-field>

        <div >
            <button mat-raised-button color="primary"(click) = "updateParent()" [disabled]="studentForm.invalid">
                ADD</button>
            <button mat-raised-button (click) = "tellParentToClose()" >Cancel</button>
        </div>
        
      </div>
    </form>
    </mat-card>
