<p *ngIf = "!(authService.getUser()|async)">You are not logged in</p>
<div *ngIf = "(authService.getUser()|async)"><div>
  <button mat-raised-button color = "primary" *ngIf = "(authService.getUser()| async)"(click) = "addStudentFormOpen = !addStudentFormOpen">Add Student</button>
</div>
<div>
  <studentform *ngIf = "addStudentFormOpen"
  (update) = "add($event);addStudentFormOpen = false"
  (closeEdit) = "addStudentFormOpen = false"
  [formType] = "'Add Student'"
  >
  </studentform>
</div>
<mat-accordion >
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false"
                         *ngFor = "let student of students;let i = index">
      <mat-expansion-panel-header>
        <mat-panel-title>
        Paid ? : {{student.paid}}<br>
        Bagrut average : {{student.bagrut}}
        Psycho grade :  {{student.psycho}}
        </mat-panel-title>
        <mat-panel-description>
          <!--<span  [ngClass]="[student.result=='Will pay' ? 'green' : 'red']">{{student.result}}</span>-->
          </mat-panel-description>
        <button mat-raised-button color="warn" (click)="deleteStudent(student.id)">Delete</button>
      </mat-expansion-panel-header>
      <button  mat-raised-button color="primary" >Predict</button>
      <button  mat-raised-button color="primary">Save</button>
      <button mat-raised-button disabled *ngIf = "student.saved">saved</button> 
  
    
    </mat-expansion-panel>
  </mat-accordion>
